extends layout

block content
  div
    form
      fieldset
        div.form-group
          label.control-label(for="artists") Artists:
          div
            textarea#artists.form-control(name="artists" rows="3" placeholder="Artist One, Artist Two, ...")
            span.help-block Enter up to 50 artists separated by commas.
        div.text-center
          div.btn-group(role="group" aria-label="...")
            button#add-artists.btn.btn-default(type="button") Add Artists
            button#create-playlist.btn.btn-default(type="button") Next Step
  br
  div#artist-wrapper
    table#artist-table.table.table-striped.table-hover.table-bordered
      thead
        tr
          th Artist
          th Found
          th Remove
      tbody#fill

  script.
    var clientID = '#{clientID}';
    var redirectURI = '#{redirectURI}';

  script(src="javascript/index.js")
