extends layout

include mixins

block content
  div
    form
      fieldset
        div.form-group
          label.control-label(for="artists") Artists:
          div
            textarea#artists.form-control(name="artists" rows="3" placeholder="Artist One, Artist Two, ...")
            span.help-block Enter artists separated by commas.
        div.text-center
          div.btn-group(role="group" aria-label="...")
            button#add-artists.btn.btn-default(type="button") Add Artists
            button#create-playlist.btn.btn-default(type="button") Next Step
  br
  +artist-table("fill")

  script.
    var clientID = '#{clientID}';
    var redirectURI = '#{redirectURI}';

  script(src="javascript/index.js")
