doctype html
html
  head
    if (!title)
      title= 'Lineup Builder'
    else
      title= title

    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-2.2.3.min.js")
    script(src='js/bootstrap.min.js')

    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/darkly/bootstrap.min.css", rel="stylesheet", integrity="sha384-kVo/Eh0sv7ZdiwZK32nRsp1FrDT3sLRLx3zVpSSTI9UdO5H02LJNLBg5F1gwvKg0", crossorigin="anonymous")
  body
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header.navbar-brand
          | Lineup Builder
    div.container.custom-container
      block content
    div.footer
      p.small Designed and implemented by #[a(href="http://www.rickboss.com" target="_blank") Rick Boss]. View the source on #[a(href="https://www.github.com/rickbau5/lineup-builder/") GitHub]!

