extends layout

block content
  div
    button#create.btn.btn-primary
      Create Playlist
  div
    each result in results
      div.group
        h3
          a.artist(href="" + result.artist.uri)=result.artist.name
        each track in result.tracks
          div.col-md-12.media
            a.artist(href="" + track.album.uri)
              img(src="" + track.album.imageURL style="width:64;height:64;float:left;margin-left:66;")
            h4.no-overflow
              a(href="" + track.uri)=track.name
            h5.no-overflow
              a(href="" + track.album.uri style="text-overflow:ellipsis")=track.album.name
        else
          p No songs found!
    else
      p Nothing found!

