@media (min-width: 768px) {
    .custom-container {
        max-width: 60%;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .custom-container {
        max-width: 75%;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .custom-container {
        max-width: 100%;
    }

    #artist-wrapper {
        height: 300px;
        overflow: auto;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select,
    textarea,
    input {
        font-size: 16px !important;
    }
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

a {
    color: #1DB954 !important;
}

a:hover {
    color: #CCC !important;
}

.artist {
    color: #fff !important;
}

.group {
    margin-bottom: 20px;
}

.media {
    height: 64px;
    padding-bottom: 10px;
}

.media img {
    padding-right: 5px;
}

.no-overflow {
    max-width: 80vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: rgba(34, 34, 34, 0.9);
    text-align: center;
}

.footer p {
    padding-top: 10px;
}

.glyphicon.spinning {
    animation: spin 2s infinite linear;
    -webkit-animation: spin2 2s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
